<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDN_BAQ-yVYFIAui9SjiQoMRwm1iZTFYNI</string>
	<key>GCM_SENDER_ID</key>
	<string>779607642047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.datex.app</string>
	<key>PROJECT_ID</key>
	<string>datex-1341d</string>
	<key>STORAGE_BUCKET</key>
	<string>datex-1341d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779607642047:ios:cb6fc16c2ed41b85701b0a</string>
</dict>
</plist>