<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6cNwtcuSMdUThmyPVfyxIOgHcrcnEiLY</string>
	<key>GCM_SENDER_ID</key>
	<string>74368097917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homehero.app</string>
	<key>PROJECT_ID</key>
	<string>homehero-5f32f</string>
	<key>STORAGE_BUCKET</key>
	<string>homehero-5f32f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74368097917:ios:f9702cfba326e9256b1b14</string>
</dict>
</plist>